

    <div class="sidebar">
      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="https://appseed.us/admin-dashboards/flask-dashboard-material-design" class="simple-text logo-mini">
            FD
          </a>
          <a href="https://appseed.us/admin-dashboards/flask-dashboard-material-design" class="simple-text logo-normal">
            Flask Dashboard
          </a>
        </div>

        <ul class="nav">
          <li>
            <a href="/readme">
              <i class="tim-icons icon-paper"></i>
              <p>Readme</p>
            </a>
          </li>

          <li>
            <a href="/rest">
              <i class="tim-icons icon-spaceship"></i>
              <p>API RESTful</p>
            </a>
          </li>
          <li>
            <a href="/futebol">
              <i class="tim-icons icon-user-run"></i>
              <p>Classe Time</p>
            </a>
          </li>
          <li>
            <a href="/queries">
              <i class="tim-icons icon-atom"></i>
              <p>Querys</p>
            </a>
          </li>

          <li>
            <a href="https://gitlab.com/sidon/teste-plataforma-verde">
              <i class="tim-icons icon-cloud-download-93"></i>
              <p>gitlab</p>
            </a>
          </li>



          <li class="active-pro">
            <a href="https://appseed.us/admin-dashboards/flask-dashboard-material-design">
              <i class="tim-icons icon-spaceship"></i>
              <p>See product</p>
            </a>
          </li>
        </ul>

      </div>
    </div>
